
<div class="row top-nav">
    <nav class="nav">
        <span>
        </span>

    </nav>
</div>
<nav class="navbar bg-light navbar-light justify-content-between">
    <a class="navbar-brand" href= "/"><img src="assets/images/Project2logoversion2.png" alt="logo"></a>
    <button id = "login" class="btn btn-outline-success " data-target="#loginModal" type="submit" >Log in</button>

  </nav>

<div class="container_landing">

    <!-- a Bootstrap row with columns -->
    <div class="row">
        <!-- At large+ or medium screens takes up 2/3 width (8/12) small take full screen 12/12 -->
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div id = "landingjumbotron" class="jumbotron jumbotron-fluid">
                <h2 class="">Our website supports users throughout the job hunting process by providing task management and data visualization tools.</h2>
                <h4 class="text-center"> Sign up today to start job searching.</h4>
                <p class="text-center"><button id="signup" class="btn btn-outline-success" data-target="#signUpModal" type="submit">Sign Up</button></p>

            </div>
            <!-- sign-up log-in form popup here -->
			{{!-- sign-up form --}}
            <row>
                <div class="modal" tabindex="-1" id="signupModal" role="dialog">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Sign Up</h5>
                          <button type="button" id = "signupClose" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>

                        <div class="modal-body">
                         {{!-- sign-up input form  --}}
						<form id="signupForm">
							<div class="form-group">
								<div class="form-group">
									<label class ="label-control" for="cohort">Select a Cohort if you belong to any or leave it as general</label>
									<select class="custom-select" id="cohort_name" >
										{{!-- <option>general</option>
										<option>TellmeTellme</option>
										<option>Farley's gang</option> --}}
                    {{#each cohorts}}
                      <option>
                          {{cohort_name}}
                      </option>
                    {{/each}}
									</select>
								</div>
								<label class ="label-control">User Name (unique id you use to log into our website)</label>
								<input placeholder="User Name" type="text" class="form-control" id="user_name">
								<br/>
								<label class ="label-control">First Name</label>
								<input placeholder="First Name" type="text" class="form-control" id="first_name">
								<br/>
								<label class ="label-control">Last Name</label>
								<input placeholder="Last Name" type="text" class="form-control" id="last_name">
								<br/>
								<label class ="label-control">Password (6-10 number or characters)</label>
								<input placeholder="Password" type="text" class="form-control" id="password">
			
							</div>
						</form>

                        </div>
                        <div class="modal-footer">
                          	<button type="submit" id="signup_btn" class="btn btn-success btn-outline-success submit">Submit</button>

                        </div>
                      </div>
                    </div>
                  </div>

            </row>

			{{!-- log-in form --}}
            <row>
                <div class="modal" tabindex="-1" id="loginModal" role="dialog">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class=" text-center modal-title">Log In</h5>
                          <button type="button" id = "loginClose" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>

                        <div class="modal-body">
                          {{!-- log-in input form  --}}
						<form id="loginForm">
							<div class="form-group">
								<div class="form-group">
								<label class ="label-control">User Name </label>
								<input placeholder="User Name" type="text" class="form-control" id="login_user_name">
								</div>
								<br/>
								<label class ="label-control">Password </label>
								<input placeholder="Password" type="password" class="js-password form-control" id="login_password">
							</div>
							<div class="option">
							<input class="option-input js-password-toggle" id="toggle" type="checkbox">
<label class="option-label js-password-label" for="toggle">Show</label>
							</div>
						</form>

                        </div>
                        <div class="modal-footer">
                          	<button type="submit" id="login_btn" class="btn btn-success btn-outline-success submit">Log In</button>
                        </div>
                      </div>
                    </div>
                  </div>

            </row>
        </div>

    </div>

</div>
</div>
<hr>


<!-- <footer >
    <p id="copyright">copy right joboboflow.com ©</p>
</footer> -->
<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="assets/images/icon-3.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-center">Efficiency</h5>
        <p class="card-text">Track applications along each stage of the interview process. See which jobs you're waiting to hear back from, and move them through the process towards final outcome.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/images/icon-2.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-center">Data Comparison</h5>
        <p class="card-text">Gain insights on your job hunting process. Use the data to assess where you can improve according to the data of other users.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/images/icon-1.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-center">Results</h5>
        <p class="card-text">Know where you stand with each application. Compare your results to all user results and averages. Realize opportunities and improve outcomes.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
<script src="assets/javascript/login_control.js"></script>
        <script src="./assets/javascript/password-toggle.js"></script>

<script type = "text/javascript">
$(function() {
	
var passwordToggle = document.querySelector('.js-password-toggle')

passwordToggle.addEventListener('change', function() {
//   var password = document.querySelector('.js-password')
  var password = $('.js-password');
   var passwordLabel = $('.js-password-label');

  if ($('.js-password').type == 'password') {
    $('.js-password').type = 'text'
    passwordLabel.innerHTML = 'Hide'
  } else {
    $('.js-password').type = 'password'
    passwordLabel.innerHTML = 'Show'
  }
  
  password.focus()
});


})
</script>

